body {
    background-image: linear-gradient(to left, rgb(255, 255, 255), rgb(150, 197, 241), rgb(150, 197, 241));
}

#box {
    background-color: white;
    width: 400px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 30px;
    transition: box-shadow 0.7s;
    border: 1px solid;
}

#box:hover {
    box-shadow: 15px 15px;
}

.words {
    font-family: "Inter", Sans-serif;
    font-size: 20px;
}

img {
    width: 150px;
    height: 150px;
}

#password,
#email {
    border: 1px solid rgb(0, 0, 0);
    width: 200px;
    height: 30px;
    margin-left: 20px;
    border: none;
    border-bottom: 2px solid rgb(133, 196, 255);
}

#password:focus,
#email:focus {
    border-bottom: 3px solid rgb(133, 196, 255);
    box-shadow: 0 0 0 0;
    outline: 0;
}

#send {
    background-color: rgb(150, 197, 241);
    border-radius: 15px;
    margin-left: 70px;
    width: 130px;
    padding: 10px;
    font-family: 'SF Mono', monospace;            
    font-size: 15px;
}

#send:hover,
#eye:hover {
    filter: brightness(1.1);
    transform: translateY(-0.1em);
    cursor: pointer;
}

#send:active,
#eye:active {
    transform: translateY(0);
}

#eye {
    margin-left: 10px;
}

button {
    border: 0;
    background-color: white;
}

span {
    font-family: "Inter", Sans-serif;;
    font-size: 14px;
}

.register-msg {
    background-color: rgba(255, 0, 0, 0.589);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    font-family: "Inter", Sans-serif;
    font-style: italic;
    padding: 5px;
}

.register-msg-sucess {
    background-color: rgba(9, 255, 0, 0.589);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid;
    font-size: 16px;
    font-family: "Inter", Sans-serif;
    font-style: italic;
    padding: 5px;
}